.master-chatfield {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 90dvh; /* or a fixed parent size */
  overflow: hidden;
  margin-bottom: 0;
}

.messages-container {
  width: 80%;
  height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  scrollbar-width: thin;
  scrollbar-color: #ffffff;
  flex-shrink: 0;
  flex-grow: 0;
}

.messages-container::-webkit-scrollbar {
  width: 6px;
}

.messages-container::-webkit-scrollbar-thumb {
  background-color: #ffffff30;
  border-radius: 4px;
}

.message {
  display: inline-block;
  max-width: 80%;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  word-wrap: break-word;
  font-family: "Exo 2", sans-serif;
  color: white;
}

.bot-message {
  background-color: #2a2a2a;
  align-self: flex-start;
  max-width: 60%;
}

.user-message {
  background-color: #eaeaea;
  color: #05005b;
  font-weight: 600;
  align-self: flex-end;
  text-align: right;
  max-width: 50%;
}

.textarea-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 20%;
}

.textarea-wrapper {
  display: flex;
  align-items: center;
  width: 70%;
  background-color: inherit;
  border: solid 3px #ffffff;
  border-radius: 20px;
  margin: 0 0 2% 0;
}

textarea {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 1.5% 0 1.5%;
  width: 95%;
  border-radius: 20px;
  font-family: "Exo 2", sans-serif;
  font-size: 1.2rem;
  background-color: inherit;
  color: #ffffff;
  border: none;
  resize: none;
  cursor: text;
}

textarea:focus {
  outline: none;
}

.textarea-icons {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textarea-input-buttons {
  width: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatfield-form {
  margin: 1%;
}

.pdf {
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.25s ease;

  &:hover {
    filter: drop-shadow(0 0 0.2rem #ffffff);
  }
}

.website {
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.25s ease;
  &:hover {
    filter: drop-shadow(0 0 0.2rem #ffffff);
  }
}

.send-button{
  font-family: "orbitron", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #ffffff;
  color: #05005b;
  border: solid 3px #ffffff;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.25s ease;

  &:hover {
    background-color: #ffffff00;
    color: #ffffff;
  }
}