.master-footer {
  width: 90%;
  padding: 3% 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 0.5rem;
}

.footer-content p {
  font-size: 0.8rem;
  font-weight: 600;
  font-family: "Orbitron", sans-serif;
}

.footer-credits {
  margin: 0;
  font-size: 0.6rem;
}

.footer-credits a {
  color: white;
  text-decoration: none;
  transition: 0.25s ease;
  justify-self: center;
}

.footer-credits a:hover {
  filter: drop-shadow(0 0 0.2rem #ffffff);
}

.bot-footer {
  width: 5%;
}

.bot-footer-img {
  width: 100%;
}

.footer-links {
  width: 5%;
  font-size: 1rem;

  color: rgba(255, 255, 255, 0);
}

.footer-links a {
  text-decoration: none;
  transition: 0.25s ease;
}

@media (max-width: 768px) {
  .footer-content {
    align-items: center;
  }

  .footer-content p {
    font-size: 0.25rem;
  }

  .footer-links {
    font-size: 1rem;
  }
}

/* Mobile phones */
@media (min-width: 320px) and (max-width: 479px) {
  .footer-content p {
    font-size: 0.4rem;
  }

  .footer-credits {
    margin: 0;
    font-size: 0.4rem;
  }

  .footer-links {
    font-size: 0.8rem;
  }
}

/* Large phones and small tablets */
@media (min-width: 480px) and (max-width: 767px) {
  .footer-content p {
    font-size: 0.5rem;
  }

  .footer-credits {
    margin: 0;
    font-size: 0.5rem;
  }

  .footer-links {
    font-size: 0.9rem;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .footer-content p {
    font-size: 0.6rem;
  }

  .footer-credits {
    font-size: 0.6rem;
  }

  .footer-links {
    font-size: 1rem;
  }
}

/* Laptops */
@media (min-width: 1024px) and (max-width: 1199px) {
}

/* Desktops */
@media (min-width: 1200px) and (max-width: 1599px) {
  .footer-content p {
    font-size: 0.9rem;
  }

  .footer-credits {
    font-size: 0.7rem;
  }

  .footer-links {
    font-size: 1.1rem;
  }
}

/* Large desktops / 4K */
@media (min-width: 1600px) {
  .footer-content p {
    font-size: 1.2rem;
  }

  .footer-credits {
    font-size: 0.8rem;
  }

  .footer-links {
    font-size: 1.2rem;
  }
}
