.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  position: fixed;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(1rem);
  padding: 2% 5%;

  a {
    text-decoration: none;
    color: #ffffff;
  }
}

.nav-title {
  font-size: 3rem;
  margin: 0 0 0 5%;
  filter: drop-shadow(0 0 0.2rem #ffffff);
}

.nav-title-logo {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

.nav-logo-image {
  width: 100%;
  height: auto;
  filter: drop-shadow(0 0 0.2rem #ffffff);
}

.nav-links {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.15s ease;
  margin-right: 10%;

  a:hover {
    color: #d1d1d1;
    font-size: 1.03rem;
    transition: 0.25s ease;

    .lotus {
      color: #ff0084;
    }

    .verse {
      color: #0bd200;
    }

    .link,
    .git {
      color: #ffffff00;
      transition: 0.25s ease;
    }
  }
}

.logout-button {
  font-family: "orbitron", sans-serif;
  background-color: inherit;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.logout-button:hover {
  span {
    transition: 0.25s ease;
    color: #ff6f61;
    filter: drop-shadow(0 0 0.2rem #ff0000);
  }
}
