/* Modal Overlay */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000;
}

/* Modal Overlay for Clicking Outside to Close */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #05005b, #000000);
  padding: 2% 1%;
  border-radius: 20px;
  border: 5px solid #ffffff;
  width: 35%;
  z-index: 1001;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content h2 {
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.modal-content span{
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 2rem;
  text-decoration: none;
  transition: 0.25s ease;
  cursor: pointer;
}

.modal-content span:hover {
  filter: drop-shadow(0 0 0.2rem #ffffff);
}

.modal-close-container{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.close-modal{
  font-size: 1.5rem;
  margin-right: 5%;
  color: #ffffff;
  cursor: pointer;
  transition: 0.15s;
}

.close-modal:hover{
  color: #d40000;
  filter: drop-shadow(0 0 0.4rem #ff0000);
}

form{
  width: 100%;
  font-family: "Orbitron", sans-serif;
  font-weight: 600; 
  font-size: 1.2rem;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin: 5% 0 10% 0;
}

.auth-inputs{
  width: 60%;
  border: 5px solid #ffffff;
  border-radius: 20px;
  color: white;
  background-color: #ffffff00;  
  padding: 2% 2.5%;

  &:focus{
    outline: none;
  }
}

.form-submit-button{
  width: 40%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 3px solid #ffffff;
  color: #05005b;
  border-radius: 15px;
  padding: 1%;
  font-family: 'orbitron', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease;
  animation: float 5s infinite;

  &:hover{
    background-color: #0090d800;
    border: 3px solid #ffffff;
    padding: 1.2%;
    font-size: 1.3rem;
    color: #ffffff;
    transition: 0.5s ease;
    filter: drop-shadow(0 0 1rem #ffffff);
  }
}
/* Fade-in animation for modal */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Mobile phones */
@media (min-width: 320px) and (max-width: 479px) {
 
}

/* Large phones and small tablets */
@media (min-width: 480px) and (max-width: 767px) {

}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {

}

/* Laptops */
@media (min-width: 1024px) and (max-width: 1199px) {

}

/* Desktops */
@media (min-width: 1200px) and (max-width: 1599px) {
}

/* Large desktops / 4K */
@media (min-width: 1600px) {

}